.topicos{
    margin-top: 2em;
    background: linear-gradient(97.54deg, #001752 35.49%, #326589 165.37%);
    text-align: center;
    padding: 1em;
}
.topicos__titulo{
    font-family:var(--fonte-principal);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1em;
    padding: 1em;
}
.topicos__links{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
}
.topicos__links a {
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 700;
    background-color: var(--cor-terciaria);
    padding: 1em;
}
/* -------------1024------------*/
@media screen and (min-width: 760px){

    .topicos__titulo{
        font-size: 24px;
    }
    .topicos__links a{
        font-size: 24px;
        padding: 1em 1em;
    }
    .topicos__links{
        gap: 1.1em;
    }
}
/* ---------------1728------------- */
@media screen and (min-width:1728px){
    .topicos{
        padding: 2em 25%;
    }
    .topicos__titulo{
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 300;
        margin: 0;
    }
    .topicos__links{

        margin-bottom: 2em;
        gap: 1.1em 1.1em;
    }
    .topicos__links a{
        font-size: 24px;
        padding: 1em 2em;
    }
}
